<!DOCTYPE html>
<html lang="en">
<head>
    <title>PhotoArtWork2_reverse</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <!-- stylesheets -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/portfolio_one.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/colour.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</head>

<body>
<div id="main">

    <!-- begin header -->
    <header>
        <div class="row">
            <div class="col-md-6" id="logo"><h3 style="color: white;">IoT Image Detection Project</h3></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-primary" href="/">Home</a>
        <a type="button" class="btn btn-primary" href="/access">Access</a>
        <a type="button" class="btn btn-primary" href="/train">Train</a>
        <a type="button" class="btn btn-primary" href="/logs">Access logs</a>
    </div>
    <!-- end header -->

    <!-- begin content -->
    <div id="site_content">
        <!-- start gallery HTML containers -->
        <div id="gallery" class="content">
            <div class="slideshow-container">
                <div id="loading" class="loader"></div>
                <div id="slideshow" class="slideshow"></div>
            </div>
        </div>
        <div id="thumb-container">
            <div id="thumbs" class="navigation">
                <ul class="thumbs noscript">
                    {% for image in images %}
                    <li>
                        <a class="thumb" href="{{ image }}"><img src="{{ image }}" alt="one"/></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="controls" class="controls portfolio_one"></div>
            <div id="caption" class="caption-container"></div>
            <div style="clear: both;"></div>
            <!-- end gallery HTML containers -->
        </div>
    </div>
    <!-- end content -->

</div>
<!-- javascript at the bottom for fast page loading -->

<!-- modernizr enables HTML5 elements and feature detects -->
<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-1.5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing-sooper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.sooperfish.js') }}"></script>

<!-- initialise sooperfish menu -->
<script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.galleriffic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.opacityrollover.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
      // we only want these styles applied when javascript is enabled
      $('div.navigation').css({'width' : '450px', 'float' : 'left'});
      $('div.content').css('display', 'block');
      // initially set opacity on thumbs and add additional styling for hover effect on thumbs
      var onMouseOutOpacity = 0.67;
      $('#thumbs ul.thumbs li').opacityrollover({
        mouseOutOpacity:   onMouseOutOpacity,
        mouseOverOpacity:  1.0,
        fadeSpeed:         'fast',
        exemptionSelector: '.selected'
      });
      // initialize advanced galleriffic gallery
      var gallery = $('#thumbs').galleriffic({
        delay:                     3500,
        numThumbs:                 10,
        preloadAhead:              10,
        enableTopPager:            false,
        enableBottomPager:         true,
        maxPagesToShow:            7,
        imageContainerSel:         '#slideshow',
        controlsContainerSel:      '#controls',
        captionContainerSel:       '#caption',
        loadingContainerSel:       '#loading',
        renderSSControls:          true,
        renderNavControls:         true,
        playLinkText:              'Play Slideshow',
        pauseLinkText:             'Pause Slideshow',
        prevLinkText:              '&lsaquo; Previous Photo',
        nextLinkText:              'Next Photo &rsaquo;',
        nextPageLinkText:          'Next &rsaquo;',
        prevPageLinkText:          '&lsaquo; Prev',
        enableHistory:             false,
        autoStart:                 false,
        syncTransitions:           true,
        defaultTransitionDuration: 900,
        onSlideChange:             function(prevIndex, nextIndex) {
          // 'this' refers to the gallery, which is an extension of $('#thumbs')
          this.find('ul.thumbs').children()
            .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
            .eq(nextIndex).fadeTo('fast', 1.0);
        }
      });
    });



</script>
</body>
</html>